.user-table > thead{
    background-color: #3399ff;
    
}
.user-table > thead > tr > td{
    border : 1px solid black;
    padding:7px;
    font-weight: bold;
    font-size:17px;
}
.user-table > tbody > tr:nth-child(even){
    background-color:wheat
}
.user-table > tbody > tr:nth-child(odd){
    background-color:white
}
.user-table > tbody > tr:hover{
    background-color:lightgray
}
.user-table > thead, tbody > tr > td{
    border : 1px solid black;
    padding:5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}